{% extends "base.html" %}

{% block title %}À propos - Spacelogic{% endblock %}

{% block content %}
    <h1>À propos de nous</h1>
    <p align="justify">Nous sommes une équipe composée de quatre étudiants
        au baccalauréat en informatique à l'Université Laval.
        L'idée de créer cette plateforme est venue dans le cadre
        d'un projet de session pour le cours de modèles et langages
        des bases de données pour l'ingénierie. Avec l'expérience
        d'un des membres dans le domaine de l'architecture, il a
        été plus simple de comprendre les enjeux reliés à ce monde.
        Ainsi, en récoltant les avis des ses collègues sur les
        logiciels utilisés, Sébastien a lancé l'idée d'une
        plateforme qui reprendrait les points forts de ses
        compétiteurs et qui corrigerait leurs défauts. Cette simple
        idée est maintenant devenue SpaceLogic.</p>
    <br>

    <h2>Notre mission</h2>
    <p align="justify">SpaceLogic cherche à simplifier la coordination
        des projets d'architecture entre les architectes
        et leurs clients. Nous croyons qu'une communication
        plus efficace entre les deux parties permet de gagner
        du temps, de réduire les erreurs et d'améliorer la
        qualité des projets finis.</p>
{% endblock %}