{% extends "base.html" %}

{% block title %}Contact - Spacelogic{% endblock %}

{% block content %}
    <h1>Nous joindre</h1>
    <p>Il est possible de nous suivre sur les réseaux
        sociaux afin de rester au courant des nouvelles
        fonctionnalités aux adresses ci-dessous.<br><br>
        Instagram: *handle ig*<br>
        <u>url_ig</u><br><br>
        Twitter/X: *handle twitter*<br>
        <u>url_twitter</u><br><br>
        Facebook: *nom*<br>
        <u>url_facebook</u></p>
    <br>
    <h2>Courriel</h2>
    <p>Pour plus d'information, il est possible
        de nous contacter par courriel à l'adresse suivante: <br>
        <u>spacelogic.info@gmail.com</u>.</p>
{% endblock %}