{% extends "base.html" %}

{% block title %}Contact - Spacelogic{% endblock %}

{% block content %}
    <h1>Nous joindre</h1>

    <p>
        Il est possible de nous suivre sur les réseaux sociaux afin de rester au courant des
        nouvelles fonctionnalités aux adresses ci-dessous.<br><br>

        <strong><a href="https://www.instagram.com/spacelogicpro/"
                   target="_blank" rel="noopener noreferrer">Instagram</a></strong><br><br>

        <strong><a href="https://x.com/SpaceLogicPro"
                   target="_blank" rel="noopener noreferrer">Twitter/X</a></strong><br><br>

        <strong><a href="https://www.facebook.com/SpaceLogicPro"
                   target="_blank" rel="noopener noreferrer">Facebook</a></strong>
    </p>

    <br>
    <h2>Courriel</h2>
    <p>Pour plus d'information, il est possible
        de nous contacter par courriel à l'adresse suivante: <br>
        <u>spacelogic.info@gmail.com</u>.</p>
{% endblock %}