{% extends "base.html" %}

{% block title %}Services - Spacelogic{% endblock %}

{% block content %}
    <h1>Services offerts</h1>
    <p>Nous offrons une platefrome d'hébergement
        pour vos projets architecturaux où vous pourrez
        retrouver tous les projets auxquels vous participez.</p>
    <br>
    <h2>Notre logiciel</h2>
    <p align="justify">Lorsque vous sélectionnerez un projet, vous
        y retrouverez chaque pièce et chacune contiendra
        les attributs nécessaires, tel que les portes, les
        cloisons, la finition et autres. Chaque élément
        d'un projet est accompagné d'un espace commentaire pour
        laisser au client le pouvoir de laisser ses avis.
    <br>De plus, pour éviter que n'importe qui se joigne à
        n'importe quel projet, il n'y aura que les
        administrateurs des organisations qui pourront inviter
        les personnes concernées sur le projet.</p>
{% endblock %}